/*
Theme Name: Michael Benson Band - 2014
Theme URI: http://factor1studios.com
Description: A custom WordPress theme for the Michael Benson Band.
Author: factor1
Author URI: http://factor1studios.com/
Version:

*/

/**** Font Declarations ****/

@font-face
{
    font-family: 'Humanist521BT-Roman';
    src: url('fonts/HUM521N.eot');
}

@font-face
{
    font-family: 'Humanist521BT-Roman';
    src: url('fonts/HUM521N.woff') format('woff'),
    url('fonts/HUM521N.svg#Humanist521BT-Roman') format('svg');
}

@font-face
{
    font-family: 'Humanist521BT-Bold';
    src: url('fonts/HUM521B.eot');
}

@font-face
{
    font-family: 'Humanist521BT-Bold';
    src: url('fonts/HUM521B.woff') format('woff'),
    url('fonts/HUM521B.svg#Humanist521BT-Bold') format('svg');
}


/*----- COLOR VARIABLES  ------*/
$darkblue:	#003570;
$lightblue:	#283752;


$human :	"Humanist521BT-Roman";

/*------ SASS MEDIA QUERIES----*/
$smallonly:	'screen and (max-width: 40em)';

/*----- MIXINS --------*/
@mixin background-cover{
	background-size: cover !important;
	-webkit-background-size: cover !important;
	-moz-background-size: cover !important;
	-ms-background-size: cover !important;
}

@mixin two-col{
	-webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
}

/*------------------------------------*\
    Global Settings
\*------------------------------------*/

html, body
{
    border:0;
    margin:0;
    padding:0;
    height:100%;
}

body
{
    font-family: "Humanist521BT-Roman", Sans-serif;
    font-size: 100%/1.25;
    -webkit-font-smoothing: antialiased;
     overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    background:$darkblue;
    color: white;
}

/* Set box sizing to elimate math in the padding */
*
{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

h1 { font-family: "Humanist521BT-Roman", Sans-serif; font-size: 56px; }

h2 { font-family: "Humanist521BT-Roman", Sans-serif; font-size: 36px; }

h3 { font-family: "Humanist521BT-Roman", Sans-serif }

h4 { font-family: "Humanist521BT-Roman", Sans-serif }

h5 { font-family: "Humanist521BT-Roman", Sans-serif }

h6 { font-family: "Humanist521BT-Roman", Sans-serif }

/***** Common Formatting *****/

h1, h2, h3, h4, h5, h6
{
    margin:0;
    padding:0;
    font-weight:normal;
}

h1
{
    padding:30px 0 25px 0;
    font:2em;
}

h2
{
    padding:20px 0;
    font:1.5em;
}

h3
{
    font:1em;
    font-weight:bold;
}


p, ul, ol
{
    margin:0;
    padding:0 0 18px 0;
}

ul, ol
{
    list-style:disc;
    padding:0 0 18px 40px;
}

ol{
	list-style-type: decimal;
}

article ul, article ol
{
    margin: 0 0 10px 20px;
}

article ul li {list-style: square; margin: 0 0 5px 5px; padding-left: 5px;}
article ol li {list-style: decimal; margin: 0 0 5px 5px; padding-left: 5px;}

blockquote
{
    margin:22px 40px;
    padding:0;
}

small
{
    font-size:0.85em;
}

img
{
    border:0;
}

sup
{
    position:relative;
    bottom:0.3em;
    vertical-align:baseline;
}

sub
{
    position:relative;
    bottom:-0.2em;
    vertical-align:baseline;
}

acronym, abbr
{
    cursor:help;
    letter-spacing:1px;
    border-bottom:1px dashed;
}

.bold
{
    font-family: 'Humanist521BT-Bold', Helvetica, Sans-serif;
}

.blue-text
{
    color: #003570;
}

p, h1, h2, h3, h4{
    color: white;
}

/***** Links *****/

a, a:visited
{
    text-decoration:none;
}

a:hover{
	color: #00a2ff !important;
}

//button-mixin
@mixin button{
	background: none;
    border: white 2px solid;
    font-family: $human !important;
}

input[type=button]{
	@include button;
	margin: 10px 0;
}

input[type=button]:hover{
	@include button;
}


a.button
{
    background: none;
    border: white 2px solid;
}

.button-small{
	@include button;
	font-size: .9em;
	width: 100px;
	height: 30px;
	padding: 4px;
	font-family: $human;
	text-transform: uppercase;
	color:white;
	a{color:white;}
}
a.button:hover
{
    background:none;
}

/***** Forms *****/

form
{
    margin:0;
    padding:0;
    display:inline;
}

input, select, textarea
{
    font:1em arial, helvetica, sans-serif;
}

textarea
{
    line-height:1.25;
}

label
{
    cursor:pointer;
}

/***** Tables *****/

table
{
    border:0;
    margin:0 0 18px 0;
    padding:0;
}

table tr td
{
    padding:2px;
}

//form styles
@mixin formstyle-two-column{  //two column from section
		width: 49% !important;
		background-color: $lightblue !important;
		border: none !important;
		// margin: 0 10px !important;
		color: white !important;
}//mixin two column

@mixin formstyle-three-column{  //two column from section
		width: 32% !important;
		background-color: $lightblue !important;
		border: none !important;
		// margin: 0 10px !important;
		color: white !important;
}//mixin three column

.input-two-column-left{
	@include formstyle-two-column;
	float: left;
}
.input-two-column-right{
	@include formstyle-two-column;
	float: right;
}

.input-three-column-left{
	@include formstyle-three-column;
	float: left;
}
.input-three-column-right{
	@include formstyle-three-column;
	float: right;
}
.input-three-column-center{
	@include formstyle-three-column;
	float: left;
	margin: 0 14px !important;
}

textarea{
	background: rgba(255, 255, 255, 0.10) !important;
	border: none !important;
	// margin: 0 10px !important;
	color: white !important;
	resize: none;
	height: 200px;
	font-size: 1em !important;
}

input{
	background: rgba(255, 255, 255, 0.10) !important;
	border: none !important;
	color: white !important;
	font-size: 1em !important;
	}

input[type=submit]{
	background: none !important;
	border: 1px solid white !important;
}

input[type=search]{
	background:$lightblue url(images/search.png) 2% center no-repeat !important;
	border: none !important;
	height: 25px;
	width: 88.5%;
	outline: none;
	-webkit-appearance: none;
	padding: 10px 0px 10px 35px;
	color: white;
}

//form mobile styles
@media #{$smallonly}{
	.input-two-column-left, .input-three-column-left, .input-three-column-center, .input-three-column-right, .input-two-column-right{width: 100% !important;}
	.input-three-column-center{float: left; margin: 0 0 1rem 0 !important;}
}

/***** Fluid Iframes *****/

.fluidMedia
{
    position: relative;
    padding-bottom: 56.25%; /* proportion value to aspect ratio 16:9 (9 / 16 = 0.5625 or 56.25%) */
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.fluidMedia iframe
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/***** Utility Classes *****/

.clear { clear:both; }

.clearfix:after
{
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
}

.clearfix { display: inline-block; }

/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

.float-left { float:left; }
.float-right { float:right; }

.img-left, .align-left { float:left;margin:4px 10px 4px 0; }
.img-right, .align-right { float:right;margin:4px 0 4px 10px; }

.center
{
    margin: 0 auto;
    text-align: center;
}

.tall{height: 100%;}
@media #{$smallonly}{
	.tall{
		height: auto;
	}
}

/*------------------------------------*\
    HEADER
\*------------------------------------*/

header
{
    padding-top: 0px;

}

@media #{$smallonly}{
	header{
		padding-top: 0;
		height: 0;
	}
}

.square-logo
{
    padding-top: 30%;
    z-index: 99;
}

@media #{$smallonly}{
	.square-logo{
		padding-top: 50% !important;
		}
}

/*------------------------------------*\
    NAVIGATION
\*------------------------------------*/

nav li
{
    display: inline;
    padding: 0px 5px 0 5px;
}

/* first initial navigation over video playback */
nav
{
    padding-top:35px;
}

.menu ul
{
    list-style-type: none;
    float: right;
    font-size: .85em;
    li ul{
	    position: absolute;
	    right: 84px;
	    top: 54px;
	    display: none;
	    opacity: 0;
	    visibility: hidden;
	    -webkit-transiton: opacity 0.2s;
		-moz-transition: opacity 0.2s;
		-ms-transition: opacity 0.2s;
	    -o-transition: opacity 0.2s;
		transition: opacity 0.2s;
		li{
			background: $darkblue;
			display: block;
			padding: 10px;
			opacity: 0.8;
		}
    }

    li:hover ul{
	    display: block;
	    opacity: 1;
	    visibility: visible;
    }
}

.menu a
{
    color: white;
}

.menu a:hover{
	color:#fff6a7;
	transition: color .25s ease;
}

/* small & medium navigation styles */
.menu-link
{
    padding-top: 25px;
    font-size: 1.25em;
    color:white;
    float: right;
}

#menu
{
    background: #00325A;
    padding-top: 100px;
}

#menu a
{
    color: white;
    text-transform: uppercase;
}

#menu a:hover
{
    color: #d4d4d4;
}


#menu li
{
    display: list-item;
}

/* second/sticky navigation styles */
.navbar-wrapper
{
    display: block;
    position: relative;
    padding-top: 25px;
}

.second-sticky-nav
{
    background: none;
    width: 100%;
    height: 100px;
}

.navbar-wrapper.second-sticky-nav.stuckMenu.isStuck
{
    margin-top:0;
}

.mobile-logo{
	height: 150px;
	padding: 15px 0;
}

.panel {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 9999;
    background: $darkblue;
    border: 0;
    display: none;
    margin-bottom: 0;
    ul{
	    margin: 0;
	    padding: 0;
	    li{
		    text-align: center;
			display: inline-block;
		    margin: 0;
		    padding: 0;
		    a{
				color: white;
				display: block;
				padding: 5px;
			  	font-size: 18px;
		    }
	    }
    }
}

.mask{
	background: rgba(0,0,0,0.42);
	height: 100%;
	width: 100%;
	z-index: 9998;
	position: fixed;
	top:0;
	transition: all .5s ease;
}



/*------------------------------------*\
    HOME
\*------------------------------------*/



.static-background
{
    min-width: 100%;
    min-height: 100%;
    background: url('images/screenshot.png') 60% center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size:cover;
   //  position:fixed;
}

#second-section
{
    position: relative;
    background: rgba(0,53,113,0.7);
    width: 100%;
    height: auto;
    margin: 0 auto;
    text-align: center;
    padding-top:50px;

}

#third-section
{
    position: relative;
    background: url('images/guitar.png') no-repeat left 10% rgba(0,53,113,0.85);
    width: 100%;
    height: auto;
    padding-top: 125px;
}

.listen-text
{
    margin-top: 120px;
}

.music
{
    margin: 0 auto;
    text-align: center;
    padding: 50px 0px 50px 0px;
}

#fourth-section
{
    position: relative;
    background: rgba(255,255,255,0.90);
    width: 100%;
    height: auto;
    padding-top: 25px;
    text-align: center;

}

#fourth-section p{
	color: #003570;
}

#fifth-section
{
    position: relative;
    background: white;
    height: auto;
}

#sixth-section
{
    position: relative;
    background: url('images/bg.png') center center no-repeat;
    background-position: fixed;
    background-size: cover;
    height: auto;
    padding-top:25px;
    margin: 0 auto;
    text-align: center;

    h1{
	    padding: 40px 0 10px;
    }
}

/* some type handling done here */
.event-subheader
{
    margin-top: -40px;
    padding: 0;
}

.event-subheader h4
{
    color:#003570;
}

/* social media */

.social-media
{
    color: white;
    margin:50px 0px 50px 0px;
    padding:15px;
    background: rgba(70,71,137,0.30);
    border-right: 4px solid rgba(91,166,224,0.3);
}

.social-media-last
{
    border-right: none;
}

.social-media span
{
    font-size: .75em;
    display: inline-block;
    margin-top: 10px;
}

.social-media a
{
    color: white;
}

.social-media a:hover
{
    color:#dbdbdb;
}

.show-more{
	z-index: 99;
	position: absolute;
	bottom: 105px;
	left: 0;
	width: 100%;
	background: none;
	text-align: center;
	a{color: white;}
}




/*------------------------------------*\
    VIDEO STYLING
\*------------------------------------*/


video#bgvid {
position: fixed; right: 0; bottom: 0;
min-width: 100%; min-height: 100%;
width: auto; height: auto; z-index: 0;
background: url(images/screenshot.png) no-repeat;
background-size: cover;
}

/*------------------------------------*\
    PAGES
\*------------------------------------*/
// NAV FOR PAGES
.page-nav{
	width: 100%;
	height: 100px;
	background: rgba(0,49,90,0.85);
    box-shadow: 0px 2px 5px rgba(0,0,0,0.20);
    position: fixed;
    top: 0;
	z-index: 9995;
	padding: 20px 0;
	text-transform: uppercase;
}

/* MUSIC PAGE */

.music-header{
	width: 100%;
	height: 700px;
	position: relative;
	display: block;
	background: url(images/musicbg.jpg) center center no-repeat;
	background-size: cover !important;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	box-shadow: 0px 2px 5px rgba(57, 57, 57, 0.7);
	z-index: 997;
	padding-bottom: 25px;
}

.circle-row{
	padding: 80px 0;
	margin: 0 auto !important;
	text-align: center;
}

.circle-first{
	margin: 0 0 0 115px;
}

@media #{$smallonly}{
	.circle-first{
		margin: 0;}
}
.circle{
	height: 100px;
	width: 100px;
	border: 2px solid white;
	border-radius: 50%;
	margin: 0 auto;


	img{
		margin: 25px 0;
	}//img

	.bullets{
			margin: 30px 0;
		}

	.video{
		margin: 35px 0;
	}
}//circle

.small-circle{
	height: 50px;
	width: 50px;
	border: 2px solid white;
	border-radius: 50%;
	margin: 0 auto;
	}

.blue-circle{
	height: 100px;
	width: 100px;
	border: 2px solid #002356;
	border-radius: 50%;
	margin: 0 auto;
	text-align: center;
	margin-top: 80px;

	img{
		margin: 25px 0;
	}//img
}//blue circle

.music-page{
	.calendar{
		background: #E4E4E3;

	}

	h1{
		padding: 240px 0 0 0;
		margin: 0;
	}//h1

	.blue-text{
		padding: 30px 0;
		margin: 0 auto;
		text-align: center;
	}//blue-text

	h2{
		padding: 0;
		margin: 0;
	}//h2

	.quote{
		font-size: 19px !important;
	}//quote

	@media #{$smallonly}{
		h2{padding-bottom: 20px;}
	}
}//music page

.audio-section{
	width: 100%;
	height: auto;
	position: relative;
	display: block;
	background: url(images/bg1.jpg) center center no-repeat fixed;
	background-size: cover !important;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	padding-bottom: 100px;
}//audio section

.audio-player{
	/*
width: 800px;
	height: 600px;
*/
	margin: 0 auto;
}//audio player

.menu-playlists-container{
	padding: 60px 0 10px;
	ul{text-align: center;
		li{
		display: inline-block;
		font-size: 1.3em;
		padding: 0 20px 15px;
		a{color: $darkblue;font-family: $human;}
		}
	}
}

//accordion
.omsc-toggle{
	background: rgba(46, 72, 124, 0.9);
}

@media #{$smallonly}{
	.menu-playlists-container{
		-webkit-column-count: 2;
		-moz-column-count: 2;
		column-count: 2;
		text-align: left;
		ul{padding: 0 0 18px 0;text-align: left;}
	}
}

.playlists{
	padding-top: 80px;
}

.song-list{
	background: #002356;
	width: 100%;
	display: block;
	position: relative;
	height: auto;
	box-shadow: 0px 2px 5px rgba(57, 57, 57, 0.7);
	z-index: 997;
	padding-bottom: 100px;

	h1{
		margin: 0;
		padding: 8px 0;
	}//h1

	p{
		font-size: 19px;
		margin-bottom: 60px;
	}//p

	.pdf{
		color: white !important;
	}
}//song-list

.omsc-toggle-title:after{
	right: .8em;
	content: '\f054';
	left: inherit;
}
.omsc-toggle.omsc-expanded .omsc-toggle-title:after{
	content: '\f078'
}
.omsc-toggle-title{
	text-align: left;
}
.omsc-accordion{
	border: none;
}
.omsc-accordion .omsc-toggle {
display: block;
margin: 10px 0;
border-top-width: 0;
background: rgba(46, 72, 124, 0.9);
}

.omsc-one-third{
	margin:0;
	p{
		padding:0;
		margin: 0;
		text-align: left;
		font-size: .9em;
	}//p
	strong{
		text-align: left;
		float:left;
	}//strong
	hr{
		width: 95%;
		padding: 0;
		margin: 0;
	}//hr
}

.videos{
	width: 100%;
	height: auto;
	display: block;
	position: relative;
	background: url(images/bg2.jpg) center center no-repeat;
	background-size: cover !important;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	padding: 100px 0;

	.video{
		margin: 36px 0 0 25px;
	}//video

	h1{
		margin:20px 0;
		padding: 0;
		text-align: center;
	}//h1
}//videos

/* BAND PAGE */

.band-hero{
	width: 100%;
	height: 100%;
	// background: url(images/theband.jpg) center center no-repeat;
	@include background-cover;
	h1{padding: 330px 0 0 0;}
	h2{padding: 0;}
	h1,h2{text-transform: uppercase;}
	@media #{$smallonly}{
		h1{padding: 175px 0 0 0;}
	}
	.members{
		background: $darkblue;
		width: 100%;
		position: absolute;
		bottom: 0;
		padding-left: 11px;
		padding-right: 11px;
		ul li{border-top: 5px solid $darkblue;}
		.medium-block-grid-5{
			li{padding: 0 2.5px 5px;}
		}
	}
}

.mobile-band-hero{
	overflow-x: hidden;
	.members{
		background: $darkblue;
		width: 100%;
		position: relative;
		bottom: 0;
		padding-left: 0;
		padding-right: 0;
		ul li{border-top: 5px solid $darkblue;}
		.medium-block-grid-5{
			li{padding: 0 2.5px 5px;}
		}
	}
}

.member-container{
	position: relative;
}
.member-overlay{
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 101%;
	transition: all .5s ease;
	background: $darkblue;
	cursor: pointer;
	p{padding-top: 45%;}
}

.member-overlay:hover{
	opacity: .8;
}

.member-image{
	height: 150px;
	width: 150px;
	margin: 20px auto;
	text-align: center;
	border-radius: 99%;
	-webkit-border-radius: 99%;
	-moz-border-radius: 99%;
	overflow: hidden;
	display: none;

	img{padding: 0 !important}
}

.bio-image{
	width: 100%;
	height: 800px;
	@include background-cover;
}

.bio{
	height: 800px;
	background-image: -webkit-linear-gradient(0deg, rgba(0,52,93,0.85) 50.00%, rgba(255,255,255,0) 50.01%);
	// background-image: rgba(0, 52, 93, 0.85);
	padding:10px;
	img{padding: 45px 5px 20px;}
	h1{padding: 0; text-transform: uppercase;}
	.left{width: 50%;}
	.right{width: 50%;}
	.left,.right{margin-top:35px;padding:5px;}
	.double-cols{
		-webkit-column-count: 2; /* Chrome, Safari, Opera */
		-moz-column-count: 2; /* Firefox */
    	column-count: 2;
    	margin-top: 10px;
    	padding: 5px;
    	height: 320px;
	}
	.row .medium-6{
		max-height: 800px;
	}
}

@media #{$smallonly}{
	.bio-image{height: auto;}
	.bio{
		height: auto;
		background-image: none;
		background: rgba(0,52,93,0.85);
		display: block;
		position: relative;
		.double-cols{
			-webkit-column-count: 1; /* Chrome, Safari, Opera */
			-moz-column-count: 1; /* Firefox */
			column-count: 1;
			height: auto;
		}
	}
}

.full-bar{
	width: 100%;
	background: $darkblue;
	height: 50px;
	p{
		font-size: 1.25em;
		padding:8px 5px;
		transition: all .3s ease;
		img{padding: 0 10px;}
	}
	p:hover{opacity: .7;}
}

.full-bio{
	background:$darkblue;
	width:100%;
	display: none;
}

.bio-open{
	cursor: pointer;
}
.rotated {
  transform: rotate(180deg);
  -ms-transform: rotate(180deg); /* IE 9 */
  -moz-transform: rotate(180deg); /* Firefox */
  -webkit-transform: rotate(180deg); /* Safari and Chrome */
  -o-transform: rotate(180deg); /* Opera */
}

/*------------------------------------*\
    SUB PAGES / SPECIFIC PAGES
\*------------------------------------*/

/****** ACCOLADES PAGE ********/

.accolades-header{
	width: 100%;
	height: 900px;
	position: relative;
	display: block;
	background: url(images/crowdsurf.jpg) center top no-repeat;
	background-size: cover !important;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	box-shadow: 0px 2px 5px rgba(57, 57, 57, 0.7);
	z-index: 997;
	padding-bottom: 25px;

	h3{
		color:$darkblue;
		padding: 30px 0 5px;
		font-weight: 400;
	}//h3

	p{
		color: $darkblue;
	}
}//accolades header

.awards{
	background: rgba(255, 255, 255, 0.70);
	width: 100%;
	position: absolute;
	bottom: 0;
	height: auto;
	img{max-height: 330px; padding:20px;}
}

.awards-mobile{
	background: #E4E4E3;
	padding: 40px 0;
	h3,p{color: $darkblue;}
}

//accolades media queries for top section
@media #{$smallonly}{
	.accolades-header{
		height: 600px;
	}
}


.client-section{
	width: 100%;
	height: auto;
	position: relative;
	display: block;
	background: url(images/bokeh.jpg) center center no-repeat fixed;
	background-size: cover !important;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	padding-bottom: 100px;

	h3{
		padding: 80px 0 20px;
	}//h3

	.references{
		margin:90px 0;
	}

}//client section

@media #{$smallonly}{
	.client-section{
		background-size: auto !important;
		-webkit-background-size: auto !important;
	}
}

.share{
	background: #002356;
	width: 100%;
	display: block;
	position: relative;
	height: auto;
	box-shadow: 0px 2px 5px rgba(57, 57, 57, 0.7);
	z-index: 997;
	padding-bottom: 50px;
}

blockquote{
	margin: 0;
	border: none;
	p{color: white;}
}

.bottom_text{
	font-family: $human;
	font-size: 1em;
	padding: 10px 0px 20px;
	a.button-small{color: white;}
}

/***** EVENT CALENDAR PAGE****/
.events-container{
	padding: 100px 0;
}
.event-header{
	width: 100%;
	height: 600px;
	position: relative;
	display: block;
	background: url(images/musicbg.jpg) center center no-repeat;
	background-size: cover !important;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	box-shadow: 0px 2px 5px rgba(57, 57, 57, 0.7);
	z-index: 997;
	padding-bottom: 25px;

	h1{
		padding: 180px 0 0;
	}
}

.calendar-row{
	background: rgba(0,49,90,0.70);
	width: 100%;
	position: absolute;
	bottom: 0;
	height: 200px;
	img{float: right;margin-top:-45px;}
}

.event-when{
	background: rgba(255, 255, 255, 0.50);
	margin: 6% 0;
	padding: 16px;
}

.calendar{
	width: 100%;
	display: block;
	position: relative;
	height: auto;
	z-index: 997;
	padding-bottom: 50px;

}

.calendar-grid{
	// @include two-col;
	margin: 50px 0;
}

.event-item{
	background: #f1f1f1;
	padding: 10px;
	margin:  0 0 10px !important;
	color: #58595B;
	h4{
		color: $darkblue;
		text-transform: uppercase;
		font-size: 1em;
	}//h4
	hr{
		padding: 0;
		margin: 4px 0;
		border-color: #58595B;
	}
}
.eventdate{
	background: $darkblue;
	text-align: center;
	text-transform: uppercase;
	padding: 8px;
	color: white;
	span{
		font-size: 1.7em;
		font-weight: bold;
	}
}


// Timely / All in one event calendar

.ai1ec-main-container  {

	.ai1ec-agenda-view {z-index: 0;}

	.ai1ec-date {
		background: none !important;
		border: 0 none !important;
		z-index: 0;
		}

	.ai1ec-event {
		border: 1px solid #ccc;
		border-radius: 0px !important;
		min-height: 63px;
		}

	.ai1ec-date-title {
		border-radius: 0px !important;
		border: 1px solid #ccc;
		box-shadow: 0 0 0 0px !important;
		background: white !important;
	}

	.ai1ec-month {
		background: $darkblue;
		border-radius: 0px !important;
		}

	.ai1ec-event-title {color: $darkblue !important;}


	.ai1ec-event-toggle {display: none;}



}


.ai1ec-event-details * {color: #fff !important;}

.ai1ec-datepicker-dropdown {z-index: 99999 !important;}

/********* PAGE.PHP ************/
#single-page{
	background: #E4E4E3;
	p,h1,h2,h3,h4,h5,h6,ul,li,blockquote,pre,dl{
		color: $darkblue;
	}
}
.page-header{
	width: 100%;
	height: 300px;
	padding: 120px 0 0 0;
	position: relative;
	display: block;
	background-size: cover !important;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-position: center center;
}

/********* FAQ PAGE *********/
.faq-header{
	width: 100%;
	height: 385px;
	padding: 140px 0;
	@include background-cover;
}

.faq{
	padding: 40px 0;
}

/********* CORPORATE PAGE **********/
.corp-header{
	height: 980px;
	width: 100%;
	padding: 200px 0;
	@include background-cover;
	position: relative;
	h1,h2{padding:0;margin: 0;}
}

.corp-subheader{
	height: 380px;
	width: 100%;
	background: rgba(0, 35, 88, 0.80);
	position: absolute;
	bottom: 0;
	p{font-size:27px;line-height: 28.5px;padding: 90px 0 0}
	.cite{
		text-transform: uppercase;
		font-size: 17px;
		padding: 25px 0;
	}
}

.corp-white{
	background: white;
	padding: 40px 0;
	p,h1{color: $darkblue;}
	hr{border: 2px solid rgba(0, 35, 86, 0.30)}
	h4{color: $darkblue;}
}

.corp-blue{
	background: $darkblue;
	padding: 40px 0;
}

.three-col{
	column-count:3;
	-webkit-column-count: 3;
	-moz-column-count: 3;
	p{padding:10px 0;}
}

.two-col-content{
	@include two-col;
}

/******** CONTACT PAGE *********/
.contact{
	background: url(images/seattle.png) center bottom no-repeat;
	min-height: 800px;
	padding: 50px 0;
	input{
		background: none !important;
		border: 1px solid white !important;
		margin: 5px;
		float: left;
		color: white !important;
		outline: none;
	}
	input:focus{
		background: none !important;
		border: 1px solid white !important;
		outline: none;
		box-shadow: none;
	}

	textarea{
		background: none !important;
		border: 1px solid white !important;
		color: white !important;
		resize: none;
		box-shadow: none;
	}
	input,textarea{
		font-size: 1em !important; padding: 5px !important;
	}
	label{
		color: white;
		font-size: 1em;
	}
	.half{
		width: 48%;
	}

	.third{
		width: 31.6%;
	}


	.fa{
		float: left;
		padding: 0 15px 0 0;
		font-size: 1.5em !important;
	}

	.contact-side{
		p{padding: 0 0 0 35px;}
		p:last-of-type{padding:0;}
	}
}

.contact-header{
	width: 100%;
	height: 368px;
	@include background-cover;
	padding: 120px 0;
	h1,h2{padding: 0; margin: 0;}
}

/*----- SEARCH PAGE ----------*/
.search{
	width: 100%;
	background: url(images/bokeh.jpg) center center no-repeat;
	@include background-cover;
	min-height: 50%;
}

.search-container{
	padding: 50px 0;
}
/*------------------------------------*\
    BLOG / NEWS POSTS
\*------------------------------------*/
/*--- BLOG PAGE ---*/
.blog-header{
	width: 100%;
	height: 300px;
	position: relative;
	display: block;
	background: url(images/blog.jpg) center center no-repeat;
	background-size: cover !important;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	box-shadow: 0px 2px 5px rgba(57, 57, 57, 0.7);
	z-index: 997;
	padding-bottom: 25px;

	h1{
		padding: 155px 0;
		color: #e9e9e9;
	}
}

.blog-section{
	background: #E4E4E3;
	width: 100%;
	display: block;
	position: relative;
	height: auto;
	box-shadow: 0px 2px 5px rgba(57, 57, 57, 0.7);
	z-index: 997;
	padding-bottom: 50px;
	height: auto;
}

.sidebar{
	margin: 100px 0;

	ul{
		padding: 0;
	}
	//sidebar link mixin
	@mixin sidebar-links{
		background: rgba(39, 54, 81, 0.90);
		height: 36px;
		font-size: 1.4em;
		color: white;
		padding: 7px 0;
		text-align: center;
		margin: 10px 0;
		text-transform: uppercase;
	}

	#menu-sidebar-menu{
		li{
			@include sidebar-links;
			list-style: none;
			padding: 0;
			a{color: white;}
		}
	}

	.cat-item{
		@include sidebar-links;
		list-style: none;
		padding: 0;
		a{color: white;}
	}

	.wedding-client-raves{
		@include sidebar-links;
		margin: 30px 0 0;
	}//wedding client

	.corporate-client-raves{
		@include sidebar-links;
	}

	.colleague-raves{
		@include sidebar-links;
	}

	.from-the-band{
		@include sidebar-links;
	}

	.share-story{
		@include sidebar-links;
		height: 105px;
		padding: 38px 0;
	}

	.icon-single{
		float: left;
		text-align: center;
		padding: 20px 20px 0;
		p{color: $darkblue; padding-top: 10px;}
	}//icon single

	.calendar-callout{
		border: 2px solid $darkblue;
		padding: 15px;
		margin-top: 20px;
	}

	.cal-left{
		width: 25%;
		float: left;
		position: relative;
		img{
			padding: 5px 10px;
		}//img
	}//cal-left

	.cal-right{
		width: 75%;
		float: right;
		p{
			color: $darkblue;
			font-size: 1.2em;
			padding: 5px 0 0 0;
			line-height: 1.1em;

		}//p
	}//cal-right
	.widget-title{display:none;}
}//sidebar

.featured-image-blog{
	background-size: cover;
	position: relative;
	height: 300px;
	min-width: 300px;
	.overlay{
		width: 100%;
		background: rgba(0, 53, 113, 0.90);
		position: absolute;
		bottom: 0;
		padding: 5px 10px;
		.date-circle{
			border: 2px solid white;
			border-radius: 99%;
			height: 70px;
			width: 70px;
			text-align: center;
			margin: 5px;
			padding: 2px;
			h3{line-height: .5em;}
		}
		span{color: white; opacity: 0.90;}
		a{color:white; transition: all .2s ease;}
		a:hover{opacity: .8;}
	}
}

.posts{
	margin: 100px 0;
}

@media #{$smallonly}{
	.posts{margin:100px 0 0;}
}

//single blog post styles
.blog-title{
	padding: 94px 0 0 0;
}

.single-header{
	width: 100%;
	height: 400px;
	@include background-cover;
	h1{padding:158px 0 0;}
}

.single-row{
	background: white;
	color: $darkblue;
	p,h1,h2,h3,h4,h5,h6,span{color: $darkblue;}
}

.meta{
	padding: 0 0 10px;
}


//Archive Page
.archive-header{
	height: 400px;
	width: 100%;
	background: url(images/crowdsurf.jpg) top center no-repeat;
	@include background-cover;
}
.archive{
	h1{
		padding: 190px 0;
	}
}
/*------------------------------------*\
    FOOTER
\*------------------------------------*/

footer
{
    background: rgba(0, 49, 90, 0.70);
    height: auto;
    padding: 10px;
    color: white;
    padding-top: 30px;
    position: relative;
}

.footer-img
{
    margin-top: -5px;
    margin-left: 10px;
}

.factor1
{
    font-family: Helvetica;
    font-weight: bold;
    letter-spacing: -1;
    font-size: 1.2em;
    margin-left: 15px;
}

footer small
{
    display: inline-block;
    margin-top: 25px;
}

/*------------------------------------*\
    404
\*------------------------------------*/

.cover-404{
	width: 100%;
	height: 100%;
	background: url(images/bg1.jpg) center center no-repeat;
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	margin: 0;
	padding: 100px;
	top: -31px;
	position: absolute;
	overflow: hidden;
}

/*------------------------------------*\
    MOBILE
\*------------------------------------*/

@media only screen and (max-width: 40em)
{
    .mobile-footer
    {
        margin:0 auto;
        text-align: center;
        margin-top: 40px;
        border-top: 2px solid #002b4c;
    }

    .mobile-footer-padding
    {
        padding: 20px;
    }
    .bio{
	    height: 1260px;
    }
    #menu-main-navigation{
	    .sub-menu{
		    display: none;
	    }
    }
    .member-image{
	    display: block;
    }
    .cp-container{
	    margin: 0 auto;
    }
}

.margin-bottom {
  margin-bottom: 30px;
}
